@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,400;1,300&family=Alegreya:ital,wght@1,400;1,700&family=Comforter&family=Lobster&family=Luckiest+Guy&family=Passion+One:wght@400;700;900&family=Playfair+Display&family=Quintessential&family=Roboto:ital,wght@0,400;1,700&family=Sriracha&display=swap');


body{
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(168, 255, 255, 0.644);
}


div.content{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
  padding-top:30px ;
  padding-bottom:30px ;
  border-radius: 15px;
}


img{
  width: 150px;
  border-radius: 50%;
  border: rgba(168, 255, 255, 0.644) solid 4px;
  padding: 3.7px;
}



h1{
  font-family: robotoslab;
  color: #338181;
  margin-bottom: 0px;
}

p{
  margin-top: 5px;
  margin-bottom: 0px;
  color: #74B0B0;
}


ul{
  list-style: none;
  padding-left: 0px;
}


.linkcontent{
  display: flex;
  margin: 10px;
  padding: 10px 0px;
  width: 30vw;
  background-color: #74B0B0;
  border-radius: 0px;
  justify-content: center;
  transition: background 200ms;
}


li{
  margin-left: 0px;
}


a{
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.linkcontent:hover{
  background-color:#74b0b0b7 ;
}

@media (max-width: 1250px) {
  .linkcontent{
    width:35vw
  }
  div.content{
    width:35vw
  }
}


@media (max-width: 1050px) {
  .linkcontent{
    width:40vw
  }
  div.content{
    width:40vw
  }
}


@media (max-width: 850px) {
  .linkcontent{
    width:45vw
  }
  div.content{
    width:45vw
  }
}


@media (max-width: 750px) {
  .linkcontent{
    width:50vw
  }
  div.content{
    width:50vw
  }
}


@media (max-width: 650px) {
  .linkcontent{
    width:55vw
  }
  div.content{
    width:55vw
  }
}


@media (max-width: 550px) {
  .linkcontent{
    width:60vw
  }
  div.content{
    width:60vw
  }
}

@media (max-width: 450px) {
  .linkcontent{
    width:65vw
  }
  div.content{
    width:65vw
  }
}


@media (max-width: 400px) {
  .linkcontent{
    width:70vw
  }
  div.content{
    width:70vw
  }
}

@media (max-width: 350px) {
  .linkcontent{
    width:75vw
  }
  div.content{
    width:75wvw
  }
}